# Hugo
public/
resources/_gen/
.hugo_build.lock

# Node
node_modules/
npm-debug.log*

# Pagefind
public/pagefind/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
