<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="scroll-smooth">
<head>
  {{- partial "head.html" . -}}
</head>
<body class="flex flex-col min-h-screen bg-amber-100 dark:bg-slate-900 text-stone-800 dark:text-stone-100 font-mono antialiased transition-colors duration-700">
  {{- partial "header.html" . -}}

  <main class="flex-1 max-w-3xl mx-auto px-6 sm:px-10 py-8 my-6 rounded-xl">
    {{- block "main" . }}{{- end }}
  </main>

  {{- partial "footer.html" . -}}

  {{- partial "scripts.html" . -}}
</body>
</html>
